<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>HARDENER - Open-source system auditing tool</title>

</head>

<body style="margin: 0px; padding: 0px; font-family: 'Trebuchet MS',verdana;">

<table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">
    <tr>

        <!-- ============ HEADER SECTION ============== -->
        <td colspan="2" style="height: 100px;" bgcolor="#777d6a"><h1>Hardener - Open-source system auditing tool</h1>
        </td>
    </tr>


    <!-- ============ NAVIGATION BAR SECTION ============== -->
    <tr>
        <td colspan="2" valign="middle" height="30" bgcolor="#a9ae9f"><a href="#">Home</a></td>
    </tr>

    <tr>
        <!-- ============ LEFT COLUMN (MENU) ============== -->
        <td width="20%" valign="top" bgcolor="#999f8e">
            <a href="#">Menu link</a><br>
            <a href="#">Menu link</a><br>
            <a href="#">Menu link</a><br>
            <a href="#">Menu link</a><br>
            <a href="#">Menu link</a>
        </td>

        <!-- ============ RIGHT COLUMN (CONTENT) ============== -->
        <td width="80%" valign="top" bgcolor="#d2d8c7">
    <tr width="50%">
        <div th:if="${openPorts != null}">
            <ul>
                <li th:each="item : ${openPorts}" th:text="${item}">Item desc here</li>
            </ul>
        </div>
    </tr>
    <tr width="50%">
        <div th:if="${systemInfo != null}">
            <ul>
                <li th:each="item : ${systemInfo}" th:text="${item}">Item desc here</li>
            </ul>
        </div>
    </tr>

    </td>
    </tr>

    <!-- ============ FOOTER SECTION ============== -->
    <tr>
        <td colspan="2" align="center" height="20" bgcolor="#777d6a">Copyright ©</td>
    </tr>
</table>
</body>
</html>