<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h4>Scan result:</h4>

<div th:if="${openPorts != null}">
    <ul>
        <li th:each="item : ${openPorts}" th:text="${item}">Item desc here</li>
    </ul>
</div>

</body>
</html>